* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  /* max-width: 1300px; */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* background: red; */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: black;
}

nav {
  flex: 1;
  text-align: right;
  position: relative;
}

.shopping-cart:hover {
  cursor: pointer;
}

li,
a,
button {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
} */

.logo-image {
  position: relative;
  cursor: pointer;
  width: 280px;
  /* left: 15px; */
  margin-right: auto;
}

/* .logo-image {
  max-width: 25%;
  min-width: 25%;
  width: 125px;
  object-fit: fill;
} */

.nav ul {
  display: inline-block;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(169, 0, 0);
}

button {
  padding: 9px 25px;
  background-color: rgb(169, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .row h1 {
  color: white;
} */

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
}

/* .btn {
  display: inline-block;
  padding: 9px 25px;
  background-color: rgb(169, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
} */

.btn {
  display: inline-block;
  padding: 9px 25px;
  background-color: rgb(169, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.header {
  background: radial-gradient(#fff, #050303);
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 600px;
  height: 770px;
  padding: 20px 20px;
}

.small-container {
  /* max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 0, 0, 0.404); */
}

/*
#second-row {
  display: flex;
  flex-direction: column;
} */

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 400px;
  height: 570px;
}

#container2 {
  /* align-items: start; */
  flex-direction: column;
  text-align: center;
  position: relative;
  /* margin-top: 20px; */
}

.title {
  /* background-color: rgba(25, 25, 131, 0.755); */
  /* margin-top: 50px; */
  text-align: center;
  color: #555;
  /* margin: 0 auto 80px; */
  position: relative;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 16px;
}

.ratings .fa {
  color: #ff523b;
  font-size: 20px;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* offer  */

.offer {
  padding: 50px 200px;
  background: radial-gradient(#fff, #050303);
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  /* color: #555; */
}

.col-3n {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  /* display: inherit; */
  /* margin-left: 0; */
  /* align-items: center; */
}

/* .col-3n img {
  display: inherit;
} */

.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.row2 img {
  /* width: 200px;
  height: 200px; */
}

.small-container2 {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 0, 0, 0.404); */
}
